$black: #000;
$white: #fff;

$interaction: #fd9500;
$disabledInteraction: #B8B9B4;
$active: #3d348b;
$midGrey: #beb7a4;

$textBlack: #2d2c2b;
$pageBackground: #E0E2DB;
$subtleBorder: #e0e2db;

$trafficRed: #f40100;
$trafficAmber: #fdf905;
$trafficGreen: #00ef01;